@import '/scss/colors';
@import '/scss/breakpoints';

.mainWrapper {
  padding: 50px 0;
}

.topBanner {
  @include md {
    margin-top: 18px;
  }
}

.full-width {
  width: 100%;
  padding: 0;
}

.wrapper {
  min-height: calc(100vh - 140px - 400px);
  max-width: $content-max;
  margin: 0 auto;
  padding: 0 24px;
  background-color: #fff;

  @include contentMax {
    padding: 0;
    min-height: calc(100vh - 80px - 400px);
  }

  &:global(.no-header) {
    min-height: calc(100vh);
  }
}
